/* xs screen size */
@media (max-width: 480px) {
    /* hero section */
    .logo {
        font-size: 1.5rem;
    }
    .common-btn {
        padding: 10px 25px;
    }
    .hero-after-nav {
        margin: 50px auto;
    }
    .hero-heading {
        width: 80%;
        margin: 50px auto;
        font-size: 3em;
    }

    /* live preview section */
    .live-preview {
        flex-direction: column;
        text-align: center;
    }
    .preview-img {
        margin-top: 100px;
        width: 350px;
        border-radius: 35px;
    }
    .preview-heading {
        font-size: 1.875rem;
    }
    .preview-description {
        font-size: 1.125rem;
    }

    /* milestone section */
    .milestone {
        flex-direction: column;
        text-align: center;
    }
    .milestone-numbers {
        flex-direction: column;
        align-items: center;
    }
    .milestone-heading {
        font-size: 1.875rem;
        width: 80%;
        margin: 0px auto;
    }
    .user-number, .session-number, .rates-number {
        font-size: 3.75rem;
    }
}

/* sm screen size */
@media (min-width: 481px) and (max-width: 767px) {
    /* hero section */
    .logo {
        font-size: 1.75em;
    }
    .common-btn {
        padding: 10px 25px;
    }
    .hero-heading {
        font-size: 3em;
        width: 80%;
        margin: auto;
    }

    /* live preview section */
    .live-preview {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        gap: 50px;
    }
    .preview-heading {
        font-size: 2rem;
    }
    .preview-img {
        width: 350px;
        border-radius: 35px;
    }
    .preview-description {
        font-size: 1.125rem;
    }

    /* milestone section */
    .milestone-numbers {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    .milestone-heading {
        width: 80%;
        margin: 0px auto;
    }
    .user-number, .session-number, .rates-number {
        font-size: 4rem;
    }
    .milestone-heading {
        font-size: 2rem;
    }
}

/* md screen size */
@media (min-width: 768px) and (max-width: 1023px) {
    .hero-heading {
        font-size: 3.5em;
    }
    
    /* preview section */
    .preview-img {
        width: 320px;
    }
    .preview-heading {
        font-size: 2rem
    }
    .preview-description {
        font-size: 1.125rem;
    }

    /* mileston section */
    .milestone-heading {
        width: 80%;
        margin: 0px auto;
    }
}