/* xs screen size */
@media (max-width: 480px) {
    /* hero section */
    .logo {
        font-size: 1.5rem;
    }
    .common-btn {
        padding: 10px 25px;
    }
    .hero-after-nav {
        margin: 50px auto;
    }
    .hero-heading {
        width: 80%;
        margin: 50px auto;
        font-size: 3em;
    }

    /* live preview section */
    .live-preview {
        flex-direction: column;
        text-align: center;
    }
    .preview-img {
        margin-top: 100px;
        width: 350px;
        border-radius: 35px;
    }
    .preview-heading {
        font-size: 1.875rem;
    }
    .preview-description {
        font-size: 1.125rem;
    }

    /* milestone section */
    .milestone {
        flex-direction: column;
        text-align: center;
    }
    .milestone-numbers {
        flex-direction: column;
        align-items: center;
    }
    .milestone-heading {
        font-size: 1.875rem;
        width: 80%;
        margin: 0px auto;
    }
    .user-number, .session-number, .rates-number {
        font-size: 3.75rem;
    }

    /* feedback section */
    .feedbacks {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .feedbacks-heading {
        width: 80%;
        font-size: 1.875rem;
        margin: 0px auto 60px;
    }

    /* conference section */
    .conference-img {
        width: 90%;
        border-radius: 10px;
    }
    .conference-heading {
        font-size: 1.875rem;
    }
    .conference-description {
        width: 80%;
        margin: 20px auto;
    }
}






/* sm screen size */
@media (min-width: 481px) and (max-width: 767px) {
    /* hero section */
    .logo {
        font-size: 1.75em;
    }
    .common-btn {
        padding: 10px 25px;
    }
    .hero-heading {
        font-size: 3em;
        width: 80%;
        margin: auto;
    }

    /* live preview section */
    .live-preview {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        gap: 50px;
    }
    .preview-heading {
        font-size: 2rem;
    }
    .preview-img {
        width: 350px;
        border-radius: 35px;
    }
    .preview-description {
        font-size: 1.125rem;
    }

    /* milestone section */
    .milestone-numbers {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    .milestone-heading {
        width: 80%;
        margin: 0px auto;
    }
    .user-number, .session-number, .rates-number {
        font-size: 4rem;
    }
    .milestone-heading {
        font-size: 2rem;
    }

    /* feedback section */
    .feedbacks {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .feedbacks-heading {
        font-size: 2rem;
    }

    /* conference section */
    .conference-img {
        width: 90%;
        border-radius: 20px;
    }
    .conference-description {
        width: 80%;
        margin: 20px auto;
    }
    .conference-heading {
        font-size: 2rem;
    }
}








/* md screen size */
@media (min-width: 768px) and (max-width: 1023px) {
    .hero-heading {
        font-size: 3.5em;
    }
    
    /* preview section */
    .preview-img {
        width: 320px;
    }
    .preview-heading {
        font-size: 2rem
    }
    .preview-description {
        font-size: 1.125rem;
    }

    /* mileston section */
    .milestone-heading {
        width: 80%;
        margin: 0px auto;
    }

    /* feedback section */
    .feedbacks {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .special-feedback {
        grid-column: 1/span 2;
    }

    /* conference section */
    .conference-img {
        width: 90%;
        border-radius: 20px;
    }
}

/* lg screen size */
@media (min-width: 1024px) and (max-width: 1279px) {
    .conference-img {
        width: 90%;
        border-radius: 20px;
    }
}