/* importing font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&display=swap');

:root {
    --primary-color: #4E47FF;
    --heading-color: #252432;
    --normal-text: #000000;
    --light-text: rgba(0, 0, 0, 0.50);
    --extra-light-text: rgba(0, 0, 0, 0.30);
    --footer-description: #8987A1;
    --main-bg-color: #F5F8FF;
}
* {
    margin: 0;
    padding: 0;
    font-family: Raleway;
}
body {
    background-color: var(--main-bg-color);
}

/* Hero Section */
.hero-container {
    width: 100%;
    height: 700px;
    /* background-color: black; */
    background-image: url("../assets/images/Hero-bg.png");
    background-size: contain;
}
.logo {
    color: var(--primary-color);
    font-size: 2.125em;
    font-weight: 900;
}
.common-btn {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 700;
}
.nav-bar {
    width: 80%;
    height: 150px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-heading {
    color: var(--heading-color);
    font-size: 4.063em;
    font-weight: 700;
    text-align: center;
}
.hero-after-nav {
    width: 100%;
    margin: 150px 0px;
}
.focus-btn {
    display: block;
    margin: 40px auto;
}
.live-preview {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px auto;
}
.preview-heading {
    font-size: 2.625rem;
    color: var(--heading-color);
}
.preview-description {
    color: var(--light-text);
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin: 25px 0px;
}
.preview-img {
    border-radius: 50px;
}
.milestone {
    width: 80%;
    margin: 0px auto;
    background-color: rgba(78, 71, 255, 0.10);
    border-radius: 25px;
    padding: 50px 0px;
}
.milestone-heading {
    font-size: 2.375rem;
    color: var(--heading-color);
    font-weight: 700;
    text-align: center;
}
.users, .sessions, .rates {
    height: 170px;
    width: 170px;
    /* background-color: pink; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.milestone-numbers {
    display: flex;
    justify-content: space-evenly;
}
.user-number, .session-number, .rates-number {
    color: var(--primary-color);
    font-size: 5rem;
    font-weight: 700;
    font-family: Inter;
}
.users-title, .session-title, .rates-title {
    font-size: 1.25rem;
    color: var(--light-text);
}
.feedbacks {
    width: 80%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
}
.feedback {
    background-color: rgba(255, 255, 255, 0.50);
    border: 1px solid #F2EDED;
    padding:20px;
    border-radius: 15px;
}
.stars {
    margin-bottom: 20px;
}
.user-feedback {
    margin: 100px 0px;
}
.feedbacks-heading {
    margin-bottom: 60px;
    text-align: center;
    font-size: 2.375rem;
}
.feedback-heading {
    margin-bottom: 10px;
    color: var(--heading-color);
}
.feedback-description {
    margin-bottom: 20px;
    color: var(--normal-text);
    line-height: 1.563rem;
}
.user-profile {
    display: flex;
    align-items: center;
}
.avatar {
    border-radius: 50%;
    margin: 0px 20px 0px 0px;
}
.conference {
    width: 80%;
    margin: 0px auto;
    background-color: white;
    /* height: 500px; */
    border-radius: 20px;
    padding: 60px 0px;
}
.conference-text {
    text-align: center;
}
.conference-heading {
    font-size: 2.375rem;
    color: var(--heading-color);
}
.conference-description {
    color: var(--light-text);
    margin: 20px 0px;
}
.get-started-btn {
    margin-top: 10px;
}
.conference-img {
    display: block;
    margin: 40px auto 0px;
    border-radius: 30px;
}